<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js" integrity="sha512-BAMfk70VjqBkBIyo9UTRLl3TBJ3M0c6uyy2VMUrq370bWs7kchLNN9j1WiJQus9JAJVqcriIUX859JOm12LWtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js.map"></script>
<!-- import CSS -->
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.13/theme-chalk/index.min.css" integrity="sha512-R2MmHEhFdVpFIKnq3M5OwNWkrYGhQQ/kgcBoCxULcC0HW/kp3moce2UsmtBbFck2aDdrXJt1Hc+J/netYBqX7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- import JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.13/index.min.js" integrity="sha512-Bq6xFt7DksWkzWyUkKpvheWXDcg5NFYatE9pSAWEvXdKWtysVLW9kHCLtXawCHbHD1nzOrw7GCSwyXnB4/KF/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<body>
  <div id="app">
    <el-input placeholder="Please input your token" v-model="userToken"></el-input>
    <div v-for="(item, index) in chatContent" :key="index">
      <el-row>
        <el-divider></el-divider>
        <el-col :span="22">
          <el-input placeholder="Ask me something" v-model="item.q" @keydown.enter.native="doSearch" :disabled="loading || currIndex != index"></el-input>
        </el-col>
        <el-col :span="2">
          &nbsp;
        </el-col>
      </el-row>
      <div style="margin: 10px 0;"></div>
      <el-row v-if="item.a" v-loading="loading && item.a == 'loading'" :id="'anchor' + index">
        <el-col :span="2">
          &nbsp;
        </el-col>
        <el-col :span="22">
          <el-input type="textarea" autosize v-model="item.a" disabled></el-input>
        </el-col>
      </el-row>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: '#app',
    data: {
      loading: false,
      queryParams: {
        'model': 'gpt-3.5-turbo',
        'messages': [{'role': 'user', 'content': ''}]
      },
      currIndex: 0,
      chatContent: [{
        q: '',
        a: ''
      }],
      userToken: ''
    },
    created() {
      let t = this.getUrlParam('t');
      if (t) {
        this.userToken = t;
      }
    },
    methods: {
      doSearch() {
        if (!this.userToken) {
          this.showError('Please input your token!');
          return;
        }
        const queryContent = this.chatContent[this.currIndex].q;
        if (!queryContent) {
          this.showError('Please input something!');
          return;
        }

        this.loading = true;
        this.queryParams.messages[0].content = queryContent;

        const tmpIndex = this.currIndex++;
        this.chatContent[tmpIndex].a = 'loading';

        axios.post('https://openai.crossorc.tk/v1/chat/completions', this.queryParams, {
          headers: {
            'Authorization': 'Bearer ' + this.userToken
          }
        }).then(response => {
          this.loading = false;
          if (response.status = 200) {
            let choices = response.data.choices;
            if (choices.length > 0) {
              this.chatContent[tmpIndex].a = choices[0].message.content;
              this.chatContent.push({
                q: '',
                a: ''
              });

              let anchorId = 'anchor' + tmpIndex;
              let anchor = document.getElementById(anchorId);
              anchor.scrollTo({
                top: 0,
                behavior: 'smooth'
              })

              this.showMessage('Success!')
            }
          } else {
            this.showError('Server Error!')
          }
        }).catch(error => {
          this.loading = false;
          this.currIndex--;
          let errorData = error.response.data;
          if (errorData && errorData.error && errorData.error.message) {
            this.showError(errorData.error.message)
          } else {
            this.showError('Server Error!')
          }
        })
      },
      showError(msg) {
        this.showMessage(msg, 'error');
      },
      showMessage(msg, type) {
        if (!type) {
          type = 'success';
        }
        this.$message({
          message: msg,
          type: type
        });
      },
      getUrlParam(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null
      }
    }
  })
</script>
<style>
  .el-textare.is-disabled .el-textarea__inner {
    background: white;
    color: lightseagreen;
  }
</style>
</html>
